/* don't edit this */
.jest-lite-report__status--pass {
  background: var(--color-pass);
}
.jest-lite-report__errors {
  display: none;
}
/* editing below this line */

body {
   background-color: lightgray;
}
#top{
font-size: 30px;
  text-align: center;
  background-color: gray;
  color: white;
  padding: 20px 50px;
  margin-top="40px";
}


#content {
  width: auto;
  margin: auto;
  background-color: white;
  padding-bottom: 100px;
  padding-top: 50px;
  text-align: center;
}

p {
  font-size: 20px;
  text-align: justify;
  padding: 20px 100px;
}

img {
  border-style: solid;
  width: 200px;
  height: 150px;
  border-radius: 50%;
  border-color: lightblue;
  border-width: 10px;
  
}

.c-site-header {
  font-size: 100px;
  color: darkgray;
}

.c-site-footer {
  font-size: 20px;
  text-align: center;
  background-color: gray;
  color: white;
  padding: 10px 50px;
  margin-top="40px";
}

